<!DOCTYPE html>
<html style="overflow-y:hidden">
  <head>
    <title>Issue Tracker</title>
    <meta name="description" content="A simple barebone issue tracker" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    />
    <link rel="stylesheet" href="public/style.css" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>
  <body>
    <section class="hero is-info is-fullheight">
      <div class="hero-body">
        <div class="container is-fluid has-text-centered">
          <h1 class="title">
            Project Issue Tracker
          </h1>
          <h2 class="subtitle">
            A simple, easy-to-use issue tracker for every need
          </h2>
          <div class="level" id="searchbar">
            <div class="level-item has-text-centered">
              <div class="field has-addons">
                <div class="control has-icons-left">
                  <input
                    id="input"
                    class="input"
                    type="text"
                    placeholder="apitest"
                    required
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                  </span>
                </div>
                <div class="control">
                  <a class="button is-dark" id="submit">
                    Try now!
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function(event) {
      let submit = document
        .getElementById('submit')
        .addEventListener('click', function(e) {
          e.preventDefault()
          let input = document.getElementById('input').value
          if (input) {
            window.location.href = '/' + input
          }
        })
    })
  </script>
</html>
