<!DOCTYPE html>
<html>
  <head>
    <title>AMB</title>
    <meta name="description" content="Self-made Anonymous Messaging Board" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre.min.css"
    />
    <link rel="stylesheet" href="../public/css/index.css" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="../public/js/index.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="hero hero-lg fullscreen">
            <div class="hero-body">
              <h1 class="text-center">View your favourite boards</h1>
              <form class="form-horizontal" id="board-select">
                <div class="col-5 col-md-7 col-sm-10 col-mx-auto">
                  <div class="form-group">
                    <div class="column col-10">
                      <input
                        class="form-input"
                        type="text"
                        id="board"
                        placeholder="/b/"
                      />
                    </div>
                    <div class="column col-2">
                      <button class="btn">Visit Now!</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
