/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

body {
  background-color: #e9ebee;
}

.submit {
  border-radius: 3px;
}

.card {
  margin: 1em;
  border-radius: 4px;
}

.replies {
  background-color: #f7f8f9;
  margin: 0.5em 1em;
}

.toast {
  margin-top: 0.6em;
}

.thread-delete,
.reply-delete {
  margin-right: 0.5em;
}

@media screen and (max-width: 480px) {
  button.submit {
    margin-top: 0.5em;
  }
}