<!DOCTYPE html>
<html>
  <head>
    <title>Metric-Imperial Converter</title>
    <meta
      name="description"
      content="Online two-way metrix-imperial converter for your daily needs"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./public/style.css" />
  </head>
  <body>
    <div id="converter">
      <h1>
        Metric-Imperial Converter
      </h1>
      <form id="convertForm">
        <input type="text" id="convertField" name="input" placeholder="3.1mi" />
        <input id="convert" type="submit" value="Convert!" />
      </form>
      <p id="result"></p>
      <p id="supported">
        Supported units: gal, L, lbs, kg, mi, km
      </p>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script>
      $(function() {
        $('#convertForm').submit(function(event) {
          event.preventDefault()
          $.ajax({
            url: '/api/convert',
            type: 'get',
            data: $('#convertForm').serialize(),
            success: function(data) {
              if (data.error) {
                $('#result').css('color', 'red')
                $('#result').text('Error: ' + data.error)
              } else {
                $('#result').text(data.string || data)
                $('#result').css('color', 'black')
              }
            },
            error: function(xhr) {
              $('#result').css('color', 'red')
              $('#result').text('Server error')
            }
          })
        })
      })
    </script>
  </body>
</html>
